<%- include('../sharedFiles/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</link>
<link rel="stylesheet" href="/css/auth.css">
</link>

</head>

<body>
    <%- include('../sharedFiles/navigation.ejs') %>

    <main>
        <div class="flash-green__allert"><%= successfulChange %></div>
        <form class="login-form" action="/login" method="POST" novalidate>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= userInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= userInput.password %>">
            </div>
            <% if(logError) { %>
            <div class="flash-red__allert"><%= logError %></div>
            <% } %>
            <button class="btn" type="submit">Login</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
        <div class="reset">
            <a href="/reset">Reset Password</a>
        </div>
    </main>
    <%- include('../sharedFiles/end.ejs') %>