<%- include('../sharedFiles/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../sharedFiles/navigation.ejs') %>
    <main>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= userInput.email %>"
                    style="<% if(errorField === 'email') { %>border: 2px solid red<% } %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= userInput.password %>"
                    style="<% if(errorField === 'password') { %>border: 2px solid red<% } %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword"
                    value="<%= userInput.confirmPassword %>"
                    style="<% if(errorField === 'confirmPassword') { %>border: 2px solid red<% } %>">
            </div>
            <% if(signupError) { %>
            <div class="flash-red__allert"><%= signupError %>
            </div>
            <% } %>
            <button class="btn" type="submit">Signup</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </main>
    <%- include('../sharedFiles/end.ejs') %>