<%- include('../sharedFiles/head.ejs') %>
<link rel="stylesheet" href="/css/products.css">
</link>
</head>

<body>
    <%- include('../sharedFiles/navigation.ejs') %>
    <main>
        <% if(hasProds) { %>
        <div class="container">
            <% prods.forEach(element => { %>
            <article class="card product-element">
                <header class="card-header" align="center">
                    <h1 class="product-name"><%= element.title %></h1>
                </header>
                <div class="card__image" align="center">
                    <img src="<%= element.imageURL %>" alt="<%= element.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= element.price %></h2>
                    <p class="product__desc"><%= element.description %></p>
                </div>
                <div class="card__actions" align="center">
                    <a href="/admin/edit-product/<%= element.id %>?edit=true" class="btn">Edit</a>
                    
                        <button class="btn" type="button" onclick="deleteItem(this)">Delete</button>
                        <input type="hidden" name="productId" value="<%= element.id %>">
                        <input type="hidden" name="productPrice" value="<%= element.price %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    
                </div>
            </article>
            <% }) %>
        </div>
        <section class="pagination">
            <a class="<%= notFirst ? 'pag__active' : 'pag__not-active' %>" href="/admin/products?page=<%= page-1 %>">Prev</a>
            <a class="<%= notLast ? 'pag__active' : 'pag__not-active' %>" href="/admin/products?page=<%= page+1 %>">Next</a>
        </section>
        <% } else { %>
        <h1>No products yet!</h1>
        <% } %>
    </main>
    <%- include('../sharedFiles/end.ejs') %>
    <script src="/js/admin.js"></script>