<%- include('../sharedFiles/head.ejs') %>
</head>

<body>
    <%- include('../sharedFiles/navigation.ejs') %>
    <div>
        <% if(hasOrders) { %>
        <ul>
            <% orders.forEach(order => { %>
            <h1>#<%= order.id %></h1>
            <ul>
                <% order.products.forEach(element => { %>
                <li>Product: <%= element.title %>, quantity: <%= element.orderItem.quantity %>, price:
                    <%= element.orderItem.quantity * element.price %></li>
                <% }) %>
            </ul>
            <% }) %>
        </ul>
        <% } else { %>
        <p align="center">No orders yet!</p>
        <% } %>
    </div>
    <%- include('../sharedFiles/end.ejs') %>